h1{
    color: rgb(57, 0, 0);
    font-size: 3rem;
}
.btn{
    padding: .625rem 1.25rem;
    border: 2px solid rgb(65, 2, 2);
    border-radius: .4375rem;
    font-weight: 700;
    font-size: 1.5rem;
}
*{
    text-align: center;
}
.Qoutes{
    width: 90%;
    margin: auto;
}
p{
    font-size: 1.5rem;
}